Recently, I studied Switzerland's international trade based on data from the UN Commodities Trade Database (https://comtradeplus.un.org/), which gathers information about countries, trade flows, modes of transport and types of commodities during a certain period of time. At some point, I was curious about the fact that there are not many countries with which Switzerland have a substantial deficit in trade. By substantial, I mean more or equal to 20% of the overall trade per year. The 20% threshold was adopted based on the lower limit of the new customs tariffs introduced in 2025 by the USA.

Besides Germany (with which Swiss have average deficit of 10% and 12.5 bln USD), most of the "deficit-makers" do not make more than 4.1 bln USD of deficit per year, which is around 1% of the total imported goods to Switzerland. What is more interesting is that very quickly a substantial deficit becomes almost entirely the value of imports from several countries (where imports constitute 95-100% of bilateral trade). So, a vast part of the so-called deficit-makers only sell something to Switzerland, without buying anything in return.

What is it that these countries have and Switzerland does not? What kind of advantage do they have over Switzerland? And is it really their or actually Switzerland's advantage? What brings together countries like Uzbekistan, South Africa, Ghana, Burkina Faso, the Ivory Coast, Peru or Kazakhstan with Switzerland?

To find the answer, I needed to break down my initial data into more detailed information (from HS2 to HS6 codes of commodities). The more detailed query shows that the commodities from several of these countries totally fall into one category:

7108.12 â€“ Gold in other unwrought forms (non-monetary): Investment and industrial gold in primary forms like bars, ingots, bullion, nuggets, and dore (unrefined gold).

Which means that it is either gold imported as investment (already as bars or bullion) or as unrefined gold from mines intended for further processing.

To get a bigger picture:
Switzerland constitute ca. 20% of the world's gold trade (according to the commodities trade data from the UN). It is also the biggest Importer and Exporter of gold worldwide, with an average of almost 100 billion USD each year over the last 5 years (2020-2024). Some sources say that even around 70% of each year's refined gold comes from Switzerland, and 3 Swiss refineries out of 7 (there were just 5 until 2025) are Referees of the LBMA's Good Delivery programme, which states world quality standards for gold and silver.

Switzerland's position in the global chain of gold trade is undeniable. It imports, refines, and exports further. Most of the previously mentioned deficit-makers sell gold in primary forms like bars, bullion or dore, but also as recycled scrap (case of Indonesia).

_________________________________LIMIT LINKEDINA__________

If we take away countries with small yearly trades, lower than 0.1 billion USD, 53 countries had an average yearly trade imbalance with Switzerland accounting for -64.12 billion USD. Top 13 deficit-makers with a deficit to overall trade of 90-100% have an average gold to import ratio of 97% (with the exception of Nicaragua - 81% - lowering down the mean) and account for -17.98 billion USD. But if one takes all the countries where the gold to import ratio was bigger than 80%, we get 27 states which make -34.84 billion USD of deficit. Worth to add, that this counts only gold from that one category, which is mostly used for investments in form of bars, bullion or powder for refining. Jewellery, recycled scrap and other metals covered with gold are not taken into account in these calculations.

It is not a lack of Swiss competitiveness that is responsible for the deficit with these countries, but a key role of Switzerland in the chain of gold supply. Simply gold flows in one direction, and it is a good which is either mined in or sold through these countries.

**To check: what part of the whole gold traded by Switzerland are deficit-making countries?**

This should answer whether Switzerland is also dependent on them in terms of fulfilling global demand or only these countries are dependent from 'gold-centers' where they can sell what they produce.



1. https://www.swissinfo.ch/eng/business/switzerland-the-world-s-gold-hub/33706126

2. https://www.lbma.org.uk/articles/lbma-announces-new-referees-of-the-good-delivery-programme

3. London Bullion Market Association

How big is role of swiss gold trade compared to the whole world?

In [6]:
WITH world AS (
SELECT
	trade_year,
	trade_flow,
	ROUND((SUM(trade_value)/1000000000),2) AS total_trade_value_bln
FROM 'world_gold.csv'
GROUP BY trade_year, trade_flow
ORDER BY trade_year, trade_flow
),
switzerland AS(
SELECT
	trade_year,
	trade_flow,
	ROUND((SUM(trade_value)/1000000000),2) AS swiss_total_trade_value_bln
FROM 'comm_code_7108.csv'
GROUP BY trade_year, trade_flow
ORDER BY trade_year, trade_flow
	)
	
SELECT
	world.trade_year,
	world.trade_flow,
	swiss_total_trade_value_bln,
	total_trade_value_bln,
	ROUND((swiss_total_trade_value_bln *100 /total_trade_value_bln),1) AS percent
FROM world
INNER JOIN switzerland
	USING(trade_year, trade_flow)
ORDER BY trade_year, trade_flow

   trade_year trade_flow  ...  total_trade_value_bln  percent
0        2020     Export  ...                 385.87     18.6
1        2020     Import  ...                 402.84     21.8
2        2021     Export  ...                 399.19     21.7
3        2021     Import  ...                 438.78     21.1
4        2022     Export  ...                 444.30     22.6
5        2022     Import  ...                 485.53     20.4
6        2023     Export  ...                 485.42     22.1
7        2023     Import  ...                 551.02     18.6
8        2024     Export  ...                 503.17     23.2
9        2024     Import  ...                 557.82     19.1

[10 rows x 5 columns]

Who is number one in gold trading?

In [44]:
WITH world AS (
SELECT
	trade_year,
	trade_flow,
	reporter_code,
	ROUND((SUM(trade_value)/1000000000),2) AS total_trade_value_bln
FROM 'world_gold.csv'
GROUP BY trade_year, trade_flow, reporter_code
)
	
SELECT *
FROM (
	SELECT
		trade_flow,
		partner_name,
		ROUND(((SUM(trade_value)/5)/1000000000),2) AS avg_gold_trade_value_bln,
		RANK() OVER(PARTITION BY trade_flow ORDER BY (SUM(trade_value)/5) DESC) as rank
	FROM world_gold.csv AS a
	LEFT JOIN countries.csv AS b
		ON a.reporter_code = b.partner_code
	GROUP BY trade_flow, partner_name
	ORDER BY rank
)
WHERE rank<=10

   trade_flow          partner_name  avg_gold_trade_value_bln  rank
0      Import           Switzerland                     97.69     1
1      Export           Switzerland                     96.53     1
2      Import                 China                     65.99     2
3      Export        United Kingdom                     53.24     2
4      Import        United Kingdom                     61.70     3
5      Export  China, Hong Kong SAR                     39.80     3
6      Import  United Arab Emirates                     44.34     4
7      Export  United Arab Emirates                     30.31     4
8      Import                 India                     42.90     5
9      Export                   USA                     28.24     5
10     Import  China, Hong Kong SAR                     42.25     6
11     Export                Canada                     19.68     6
12     Import               Turkiye                     19.65     7
13     Export             Australia                     18.74     7
14     Import                   USA                     17.85     8
15     Export             Singapore                     15.26     8
16     Import             Singapore                     15.80     9
17     Export                 Japan                     11.41     9
18     Import              Thailand                      9.61    10
19     Export               Germany                      9.38    10

In [14]:
SELECT
	trade_year,
	partner_code,
	commodities_code,
	SUM(trade_value) AS trade_value
FROM comm_code_7108.csv
GROUP BY trade_year, partner_code, commodities_code
	order by trade_value desc
LIMIT 20

    trade_year  partner_code  commodities_code   trade_value
0         2020           842            710812  3.536192e+10
1         2021           826            710812  3.531921e+10
2         2021           699            710812  2.922112e+10
3         2022           842            710812  2.871907e+10
4         2023           156            710812  2.805671e+10
5         2022           156            710812  2.757898e+10
6         2024           156            710812  2.415339e+10
7         2024           842            710812  2.134412e+10
8         2024           699            710812  2.047852e+10
9         2023           842            710812  1.913877e+10
10        2020           826            710812  1.836251e+10
11        2024           784            710812  1.800760e+10
12        2021           156            710812  1.595766e+10
13        2023           784            710812  1.584047e+10
14        2021           842            710812  1.580056e+10
15        2024           826            710812  1.571278e+10
16        2023           699            710812  1.464998e+10
17        2023           792            710812  1.386082e+10
18        2022           699            710812  1.294015e+10
19        2020           344            710812  1.174606e+10

In [136]:
WITH imports_avg_year AS
		(
		SELECT
			partner_code,
			ROUND(((SUM(trade_value)/5)/1000000000),2) AS avg_import_bln
		FROM ch_2020_24.csv
		WHERE trade_flow = 'Import'
		GROUP BY partner_code
		),

exports_avg_year AS
		(
		SELECT
			partner_code,
			ROUND(((SUM(trade_value)/5)/1000000000),2) AS avg_export_bln
		FROM ch_2020_24.csv
		WHERE trade_flow = 'Export'
		GROUP BY partner_code
		),

ch_gold AS
		(
		SELECT
			partner_code,
			ROUND(((SUM(trade_value)/5)/1000000000),2) AS avg_gold_value_bln
		FROM comm_code_7108.csv
		WHERE trade_flow = 'Import'
		GROUP BY partner_code
		),

ch_precious_metals AS
		(
		SELECT
			partner_code,
			ROUND(((SUM(trade_value)/5)/1000000000),2) AS avg_precious_stones_metals_value_bln
		FROM ch_2020_24.csv
		WHERE commodities_code = 71 AND trade_flow = 'Import'
		GROUP BY partner_code
		)
	
SELECT
	c.partner_name,
	gold.avg_gold_value_bln,
	pm.avg_precious_stones_metals_value_bln,
	i.avg_import_bln,
	avg_export_bln + avg_import_bln AS avg_volume_year_bln,
	avg_export_bln - avg_import_bln AS avg_deficit_year_bln,
	ROUND(((avg_export_bln - avg_import_bln) * 100 / (avg_export_bln + avg_import_bln)),1) AS deficit_to_volume_percent,
	ROUND((gold.avg_gold_value_bln * 100 / i.avg_import_bln),1) AS gold_to_import_percent
FROM exports_avg_year as e
LEFT JOIN imports_avg_year as i
	ON e.partner_code = i.partner_code
LEFT JOIN ch_gold AS gold
	ON i.partner_code = gold.partner_code
LEFT JOIN ch_precious_metals as pm
	ON i.partner_code = pm.partner_code
LEFT JOIN countries.csv AS c
	ON i.partner_code = c.partner_code
WHERE avg_deficit_year_bln < 0 AND avg_volume_year_bln > 0.1
ORDER BY deficit_to_volume_percent

               partner_name  ...  gold_to_import_percent
0                   Liberia  ...                   100.0
1                  Suriname  ...                   100.0
2              Burkina Faso  ...                   100.0
3                      Mali  ...                   100.0
4                Kyrgyzstan  ...                   100.0
5                     Ghana  ...                    97.0
6                Mauritania  ...                   100.0
7                Uzbekistan  ...                    99.8
8               Ivory Coast  ...                    96.8
9                 Nicaragua  ...                    80.8
10                   Guinea  ...                   100.0
11                  Senegal  ...                    98.4
12           Dominican Rep.  ...                    92.9
13                     Peru  ...                    90.5
14  United Rep. of Tanzania  ...                    95.9
15                 Mongolia  ...                   100.0
16   Lao People's Dem. Rep.  ...                    81.8
17                  Myanmar  ...                     NaN
18               Bangladesh  ...                     NaN
19             South Africa  ...                    85.4
20               Kazakhstan  ...                    93.4
21                Indonesia  ...                    25.3
22              Philippines  ...                    83.9
23                  Nigeria  ...                    15.2
24                 Viet Nam  ...                     0.5
25                  Ecuador  ...                    77.3
26               Tajikistan  ...                    97.7
27                 Ethiopia  ...                    22.2
28                  Ireland  ...                     0.0
29                 Cambodia  ...                     6.1
30               Azerbaijan  ...                    83.3
31                Sri Lanka  ...                     NaN
32                    Chile  ...                    87.5
33                  Finland  ...                    59.1
34                Guatemala  ...                     NaN
35                Argentina  ...                    85.6
36                 Slovakia  ...                     0.0
37                Lithuania  ...                     0.0
38                  Czechia  ...                     0.3
39     United Arab Emirates  ...                    88.7
40                  Hungary  ...                     NaN
41                Australia  ...                    91.0
42                   Canada  ...                    84.4
43                  Germany  ...                     4.6
44                   Mexico  ...                    60.7
45                  Tunisia  ...                     NaN
46       Bosnia Herzegovina  ...                     NaN
47                    Italy  ...                    10.4
48                 Portugal  ...                     0.0
49                  Austria  ...                     0.9
50                  Denmark  ...                     0.0
51                   France  ...                     6.9
52                   Poland  ...                     2.7

[53 rows x 8 columns]

In [138]:
SELECT
	SUM(avg_deficit_year_bln) AS deficit_gold_sellers,
	COUNT(partner_name) AS count
FROM avg_agg_imports_exports
WHERE deficit_to_volume_percent < -90

   deficit_gold_sellers  count
0                -17.98     13

In [140]:
SELECT
	SUM(avg_deficit_year_bln) AS deficit_gold_sellers,
	COUNT(partner_name) AS count
FROM avg_agg_imports_exports
WHERE gold_to_import_percent > 80

   deficit_gold_sellers  count
0                -34.84     27

In [126]:
SELECT SUM(avg_deficit_year_bln) AS only_deficit_total,
		COUNT(partner_name) AS count
FROM avg_agg_imports_exports

   only_deficit_total  count
0              -64.12     51